
* {
  padding: 0;
  margin: 0;
}

.item1 { grid-area: header; }
.item2 { grid-area: left; }
.item3 { grid-area: board; }
.item4 { grid-area: right; }
.item5 {  grid-area: footer; margin: auto; width:-10%;}

.bbishop { background-image: url('../images/bbishop.png'); }
.bking {  background-image: url('../images/bking.png'); }
.bknight {  background-image: url('../images/bknight.png'); }
.bpawn {  background-image: url('../images/bpawn.png'); }
.bqueen {  background-image: url('../images/bqueen.png'); }
.brook {  background-image: url('../images/brook.png'); }
.wbishop {  background-image: url('../images/wbishop.png'); }
.wking {  background-image: url('../images/wking.png'); }
.wknight {  background-image: url('../images/wknight.png'); }
.wpawn {  background-image: url('../images/wpawn.png'); }
.wqueen {  background-image: url('../images/wqueen.png'); }
.wrook {  background-image: url('../images/wrook.png'); }

body {
  background: black;
  display: grid;
  grid-template-areas:
    'header header header header header header header'
    'left left left board right right right'
    'footer footer footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.drop_items {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto auto auto; 
  background-color: #2196F3;
 
}

.drag_items {
  display: inline-grid;
  grid-template-columns: auto auto; 
  background-color: #2196F3;
}

.fill {
  background-size: 100%;
  position: relative;
  width: 60px;
  height: 60px;
  top: 5px;
  left: 5px;
  cursor: pointer;
}

.hold {
  border: solid 5px #ccc;
}

.empty {
  background-color: rgba(240, 217, 181);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  text-align: center;
  height: 70px;
  width: 70px;
  
}

.hovered {
  background: #f4f4f4;
  border-style: dashed;
}

.submit {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.submit span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.submit span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.submit:hover span {
  padding-right: 25px;
}

.submit:hover span:after {
  opacity: 1;
  right: 0;
}




